<div class="containerJambotron">
	<div class="jumbotron">
		<div class="container" >
			<h1>"Life begins here ..."</h1>
			<p> Voluptatibus deleniti facilis.  Eligendi mollitia ipsam illo dolorem!</p>
		</div>
	</div>
</div>
<div class="container">

	<div class="row">
			<h1>About me</h1>
			<hr>
	</div>

	<div class="row">
		<div class="photowrap">
			<img src="img/website/Puteshestvennik_1.jpg" alt="">
			<h1>Why do i start?</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia accusantium illum dolore, suscipit doloremque impedit, quas qui eos reprehenderit ad architecto enim odit iure. Alias quod esse eos harum expedita quis quaerat a quo illo totam iure, porro qui architecto praesentium explicabo dolore delectus, ex, aperiam ratione voluptatibus voluptatem maiores. Eligendi doloremque dignissimos consequuntur temporibus blanditiis voluptate dolores nobis iusto aut at voluptatibus sint odit harum facilis commodi non corporis id quas, odio necessitatibus repellendus, earum! Cupiditate veniam tenetur eligendi consequatur molestias ullam fuga sequi dolorum, neque expedita repellat, quod ex recusandae eaque reiciendis, corrupti atque doloribus velit dolorem consequuntur.
			</p>
			<h4>Where do i start?</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia accusantium illum dolore, suscipit doloremque impedit, quas qui eos reprehenderit ad architecto enim odit iure. Alias quod esse eos harum expedita quis quaerat a quo illo totam iure, porro qui architecto praesentium explicabo dolore delectus, ex, aperiam ratione voluptatibus voluptatem maiores. Eligendi doloremque dignissimos consequuntur temporibus blanditiis voluptate dolores nobis iusto aut at voluptatibus sint odit harum facilis commodi non corporis id quas, odio necessitatibus repellendus, earum! Cupiditate veniam tenetur eligendi consequatur molestias ullam fuga sequi dolorum, neque expedita repellat, quod ex recusandae eaque reiciendis, corrupti atque doloribus velit dolorem consequuntur.
			</p>
			<h4>How do i start?</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia accusantium illum dolore, suscipit doloremque impedit, quas qui eos reprehenderit ad architecto enim odit iure. Alias quod esse eos harum expedita quis quaerat a quo illo totam iure, porro qui architecto praesentium explicabo dolore delectus, ex, aperiam ratione voluptatibus voluptatem maiores. Eligendi doloremque dignissimos consequuntur temporibus blanditiis voluptate dolores nobis iusto aut at voluptatibus sint odit harum facilis commodi non corporis id quas, odio necessitatibus repellendus, earum! Cupiditate veniam tenetur eligendi consequatur molestias ullam fuga sequi dolorum, neque expedita repellat, quod ex recusandae eaque reiciendis, corrupti atque doloribus velit dolorem consequuntur.
			</p>
		</div>
	</div>

</div>